aiosqlite~=0.17
arrow~=1.2
black>=22.6.0
dateparser @ git+https://github.com/scrapinghub/dateparser@0ed979e
discord.py @ git+https://github.com/Rapptz/discord.py@d4cc8d30
discord.py[speed] @ git+https://github.com/Rapptz/discord.py@d4cc8d30
packaging>=21.3
pyright>=1.1.266
python-dateutil~=2.8
python-dotenv>=0.20.0
rich~=12.5
tomli>=2.0.1
uvloop>=0.16.0; platform_system != "Windows"
